body {
    font-family: "Righteous", cursive;
    font-size: 1.5em;
    min-height: 600px;
    background-image: url("https://images.pexels.com/photos/6945070/pexels-photo-6945070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 50%;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
  }
  
  .page-title {
    color: #7EA1C4;
    text-shadow: 1px 1px 2px #000;
  }
  
  .page-subtitle {
    color:#7EA1C4;
    text-shadow: 1px 1px 2px #000;
    margin-top: 20px;
  }
  
  button{
    background-color: #7EA1C4;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: "Righteous", cursive;
    cursor: pointer;
  }
  .page-logo {
    width: 150px;
    display: flex;
    top: 30px;
    right: 10px;
    position: absolute;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/6945070/pexels-photo-6945070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #7EA1C4;
  }
  
  .resultado {
    color:#7EA1C4;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    margin-top: 16px;
  }
  